<ion-header>

  <ion-navbar>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Categorias</ion-title>
    </ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-avatar>
  <img class="circle" [src]="cliente?.imageUrl || 'assets/imgs/avatar-blank.png'">
</ion-avatar>
<h2 text-center>{{cliente?.nome}}</h2>
<p text-center>{{cliente?.email}}</p>

  <ion-card>
    <ion-card-header>
      Enviar imagem de perfil
    </ion-card-header>    
  </ion-card>
  <ion-item *ngIf="picture">
    <img [src]="picture">
  </ion-item>
  <ion-item>
    <p><button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</button></p>
    <p><button ion-button block (click)="getGalleryPicture()" [disabled]="cameraOn">Galeria</button></p>
    <p><button ion-button *ngIf="picture" outline block (click)="sendPicture()" >Enviar imagem</button></p>
    <p><button ion-button *ngIf="picture" outline block (click)="cancel()" >Descartar imagem</button></p>
  </ion-item>
</ion-content>
